<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoAcceleratorEngine.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GoAcceleratorEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GoAcceleratorEngine.Settings>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AcceleratedSensorId" serializeAs="String">
                <value>0</value>
            </setting>
        </GoAcceleratorEngine.Settings>
        <GoAcceleratorEngine.Properties.Settings>
            <setting name="ShowMainWindowOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTaskbarIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AccelerateOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </GoAcceleratorEngine.Properties.Settings>
    </userSettings>
</configuration>